

<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
<mat-tab-group dynamicHeight mat-align-tabs="start" animationDuration="2000ms" id="matTab">
    <!-- case 0 -->
<mat-tab id="tt" label="Tableau de bord">
    <app-tableau-de-bord></app-tableau-de-bord>
</mat-tab>
<!-- case 1 -->
<mat-tab label="élément de l'aéronef">
    <app-lelement-de-learonef></app-lelement-de-learonef>
</mat-tab>
<!-- Content 2 -->
<mat-tab label="Reservasion">
    <app-vols></app-vols>
     </mat-tab>
     <!-- Content 3 -->
<mat-tab label="documents techniqus">
    <app-les-documents-techniques></app-les-documents-techniques>

</mat-tab>
 <!-- Content 4 -->
<mat-tab label="Visites">
         <app-les-visites1></app-les-visites1>
 </mat-tab>
 <!-- Content 5 -->
<mat-tab label="traveaux supplémentaires">
    <app-traveaux-supplementaires></app-traveaux-supplementaires>
</mat-tab>

 <!-- Content 6 -->
 <mat-tab label="Consigne de Navigabilité">
    <!-- <app-traveaux-supplementaires></app-traveaux-supplementaires> -->
</mat-tab>
</mat-tab-group>
</div>
</div>
