.mat-stepper-horizontal {
    margin-top: 8px;
  }

  .mat-form-field {
    margin-top: 16px;
  }
// #ok{
//     width: auto;
// }
#td1{
width: 85%;
}
// body{
//     overflow: auto;
// }
.tttd{
width: 80%;
}

